body {
      font-family: Arial;

}

.clearfix:after{
  content:"";

  display:table;
  clear:both;
}

.container { width:1190px;
  margin: 0 auto;
  padding: 0 20px;

}

.logo {width:330px;
  float:left;

}

.main-navigation {width:760px;
  float:left;

}

.cart { width:180px;
  float:right;

}


.slider-text { width:420px;
height: 290px;

}

.slider-text h1 { font-size: 55px;

}

.slider-text p {font-size: 16px;

}

.getmore {font-size: 16px;

}


.main {
  margin-top:80px;
}


.features {margin-bottom:80px;

  }

.features-item {width:300px;
    margin-right:50px;
    float:left;

  }

.features-item h2 {font-size: 24px;
}

.features-item p {font-size: 16px;
  width:240px;

}


.desciption {width:700px;
float:left;


}
.desciption b {font-size: 45px;


}

.description p {font-size: 15px;

}

.description>p>strong { font-size: 16px;

}

.description>ul>li{

}


.logo2 {
float:right;

  }

.treats {width:360px;
  float:left;

}


.sites {margin-top: 80px;

}

.site { width: 25%;
float:left;

}

.map {margin-top:80px;

}

.footer {margin-top:80px;
  margin-bottom: 80px;


}

.container {position:relative;

}

.footer-contacts  {width:300px;
  height:315px;
  padding: 50px;
  position: absolute;
  left:150px;
  top:200px;
  background-color: white;


}

.footer-banner {width:500px;
  float:right;

}

.footer-banner> strong{font-size: 30px;



}

.options{ width:300px;
  float:left;
  padding:20px;


}

.pic {width:360px;
  margin:20px;
  float:right;

}

.left-content {width: 250px;
  height: 800px;
float:left;
margin-bottom: 60px;
}

.main-content {


   margin-bottom: 60px;


}
.template-navigation {width: 760px;
 margin-left:100px;

  float:right;

}

.pages { width:500px;
  float:right;
  padding:


}





}
